.col-4
  %h1 Showroom

%section
  .col-1 Volkswagen,Golf,1.0 MPI 60 S Manual,Manual,Petrol
  .col-1 Mercedes,C-Class Cabriolet,1.6 TDI CR 110 DSG S,Automatic,Diesel
  .col-1 Toyota,Avensis,2.0 SE,Manual,Petrol
  .col-1 Volvo,V40,1.5 Nav SE-L,Automatic,Diesel

%section
  .col-1 Land Rover,Discovery,3.0 SDV6 Auto Graphite,Manual,Petrol
  .col-1 Jaguar,F-Pace,2.0d Prestige,Automatic,Diesel
  .col-1 Dacia,Duster,1.6 SCE 115 Access,Manual,Petrol
  .col-1 Mercedes,SL,SL 500 9G-Tronic AMG Line,Automatic,Diesel