%section.section__header
  .grid
    .grid__col-4
      %h1 Your Showroom
.alert
%section.grid.cards
  %article.grid__col-1.card
    .card__front.card--is-front
      .card__top
        %a.card__offer.h4{ href: "#", title: "1 New Offer" }
          1 New Offer
        %a.card__delete{ href: "#", title: "Delete" }
          %img{:src => asset_path("archive_icon.svg")}
        .card__title
          %h2.h3 Volkswagen
          %h3.h2 Golf
        %img{:src => asset_path("volkswagen-golf.jpg")}
      .card__bottom 
        %h4.h3 1.0 MPI 60 S Manual
        %p Manual, Petrol
    .card__back
      %h3 Are you sure you want to delete?
      %a.button.button--delete-confirm{ href: "#", title: "Confirm Delete" } 
        %img{:src => asset_path("ico_check.svg")}
      %a.button.button--delete-cancel{ href: "#", title: "Confirm Delete" }
        %img{:src => asset_path("ico_cross.svg")}
  %article.grid__col-1.card
    .card__front.card--is-front
      .card__top
        %a.card__delete{ href: "#", title: "Delete" }
          %img{:src => asset_path("archive_icon.svg")}
        .card__title
          %h2.h3 Mercedes 
          %h3.h2 C-Class Cabriolet
        %img{:src => asset_path("mercedes-c-class.jpg")}
      .card__bottom 
        %h4.h3 1.6 TDI CR 110 DSG S
        %p Automatic, Diesel
    .card__back
      %h3 Are you sure you want to delete?
      %a.button.button--delete-confirm{ href: "#", title: "Confirm Delete" } 
        %img{:src => asset_path("ico_check.svg")}
      %a.button.button--delete-cancel{ href: "#", title: "Confirm Delete" }
        %img{:src => asset_path("ico_cross.svg")}

  %article.grid__col-1.card
    .card__front.card--is-front
      .card__top
        %a.card__offer.h4{ href: "#", title: "1 New Offer" }
          1 New Offer
        %a.card__delete{ href: "#", title: "Delete" }
          %img{:src => asset_path("archive_icon.svg")}
        .card__title
          %h2.h3 Toyota 
          %h3.h2 Avensis
        %img{:src => asset_path("toyota-avensis.jpg")}
      .card__bottom 
        %h4.h3 2.0 SE
        %p Manual, Petrol
    .card__back
      %h3 Are you sure you want to delete?
      %a.button.button--delete-confirm{ href: "#", title: "Confirm Delete" } 
        %img{:src => asset_path("ico_check.svg")}
      %a.button.button--delete-cancel{ href: "#", title: "Confirm Delete" }
        %img{:src => asset_path("ico_cross.svg")}

  %article.grid__col-1.card
    .card__front.card--is-front
      .card__top
        %a.card__delete{ href: "#", title: "Delete" }
          %img{:src => asset_path("archive_icon.svg")}
        .card__title
          %h2.h3 Volvo 
          %h3.h2 V40
        %img{:src => asset_path("volvo-v40.jpg")}
      .card__bottom 
        %h4.h3 1.5 Nav SE-L
        %p Automatic, Diesel
    .card__back
      %h3 Are you sure you want to delete?
      %a.button.button--delete-confirm{ href: "#", title: "Confirm Delete" } 
        %img{:src => asset_path("ico_check.svg")}
      %a.button.button--delete-cancel{ href: "#", title: "Confirm Delete" }
        %img{:src => asset_path("ico_cross.svg")}

  %article.grid__col-1.card
    .card__front.card--is-front
      .card__top
        %a.card__delete{ href: "#", title: "Delete" }
          %img{:src => asset_path("archive_icon.svg")}
        .card__title
          %h2.h3 Land Rover 
          %h3.h2 Discovery
        %img{:src => asset_path("land-rover-discovery.jpg")}
      .card__bottom 
        %h4.h3 3.0 SDV6 Auto Graphite
        %p Manual, Petrol
    .card__back
      %h3 Are you sure you want to delete?
      %a.button.button--delete-confirm{ href: "#", title: "Confirm Delete" } 
        %img{:src => asset_path("ico_check.svg")}
      %a.button.button--delete-cancel{ href: "#", title: "Confirm Delete" }
        %img{:src => asset_path("ico_cross.svg")}

  %article.grid__col-1.card
    .card__front.card--is-front
      .card__top
        %a.card__delete{ href: "#", title: "Delete" }
          %img{:src => asset_path("archive_icon.svg")}
        .card__title
          %h2.h3 Jaguar 
          %h3.h2 F-Pace
        %img{:src => asset_path("jaguar-f-pace.jpg")}
      .card__bottom 
        %h4.h3 2.0d Prestige
        %p Automatic, Diesel
    .card__back
      %h3 Are you sure you want to delete?
      %a.button.button--delete-confirm{ href: "#", title: "Confirm Delete" } 
        %img{:src => asset_path("ico_check.svg")}
      %a.button.button--delete-cancel{ href: "#", title: "Confirm Delete" }
        %img{:src => asset_path("ico_cross.svg")}

  %article.grid__col-1.card
    .card__front.card--is-front
      .card__top
        %a.card__offer.h4{ href: "#", title: "1 New Offer" }
          1 New Offer
        %a.card__delete{ href: "#", title: "Delete" }
          %img{:src => asset_path("archive_icon.svg")}
        .card__title
          %h2.h3 Dacia 
          %h3.h2 Duster
        %img{:src => asset_path("dacia-duster.jpg")}
      .card__bottom 
        %h4.h3 1.6 SCE 115 Access
        %p Manual, Petrol
    .card__back
      %h3 Are you sure you want to delete?
      %a.button.button--delete-confirm{ href: "#", title: "Confirm Delete" } 
        %img{:src => asset_path("ico_check.svg")}
      %a.button.button--delete-cancel{ href: "#", title: "Confirm Delete" }
        %img{:src => asset_path("ico_cross.svg")}

  %article.grid__col-1.card
    .card__front.card--is-front
      .card__top
        %a.card__delete{ href: "#", title: "Delete" }
          %img{:src => asset_path("archive_icon.svg")}
        .card__title
          %h2.h3 Mercedes 
          %h3.h2 SL
        %img{:src => asset_path("mercedes-sl.jpg")}
      .card__bottom 
        %h4.h3 SL 500 9G-Tronic AMG Line
        %p Automatic, Diesel
    .card__back
      %h3 Are you sure you want to delete?
      %a.button.button--delete-confirm{ href: "#", title: "Confirm Delete" } 
        %img{:src => asset_path("ico_check.svg")}
      %a.button.button--delete-cancel{ href: "#", title: "Confirm Delete" }
        %img{:src => asset_path("ico_cross.svg")}
