// Modules and Variables
@import "modules/_all";

// Partials
@import "partials/_cards";
@import "partials/_alerts";

.section__header{
	background: $cwGrey;
	text-align: center;
	padding: $gutter * 5 $gutter;
}