// Modules and Variables
@import "modules/_all";

// Partials
@import "partials/_cards";

.section__header{
	background: $cwGrey;
	text-align: center;
	padding: $gutter * 5;
	margin-bottom: $gutter * 4;
}